<h2>Welcome, John</h2>
<br>
<div class="Table">
  <div class="Table-row Table-cell--desktop Sidebar u-sm-hidden u-md-hidden" style="padding-right: 20px;">
    <button class="Button Button-full">Make an appointment</button>
    <br>
    <br>
  </div>
  <div class="Table-row Table-cell--desktop">
    <h3>My appointments</h3>
    <br>
    <div class="Table">
      <div class="Table-cell Calendar u-sm-hidden" style="padding-right: 20px;">
        {{un-calendar todayLabel=todayLabel showNextMonth=false showPrevMonth=false disableFuture=false disableManipulation=1 maxPastDate=maxPastDate maxFutureDate=maxFutureDate selectedDates=selectedDates select="dateSelected"}}
      </div>
      <div class="Table-cell">
        <span class="u-cf">
          {{#link-to "appointments" classNames="u-floatRight"}}
            View all appointments
          {{/link-to}}
        </span>
        <ul class="AppointmentSummaryList AppointmentSummaryList--h">
          {{#each appointment in appointments}}
            <li class="AppointmentSummary-appointment Media">
              {{#link-to 'appointment' appointment.id classNames="AppointmentSummary-appointment-link u-linkClean"}}
                <div class="AppointmentSummary-cal Media-object u-textCenter">
                  <span class="AppointmentSummary-day">{{format-date appointment.date 'ddd'}}</span><br>
                  <span class="AppointmentSummary-date"><b>{{format-date appointment.date 'D'}}</b></span><br>
                  <span class="AppointmentSummary-month">{{format-date appointment.date 'MMM'}}</span>
                </div>
                <div class="AppointmentSummary-details Media-body">
                  <span class="AppointmentSummary-relativeTime u-floatRight">{{relative-time appointment.date}}</span>
                  <span class="AppointmentSummary-subType"><b>{{appointment.subType}}</b></span><br>
                  <span class="AppointmentSummary-type">{{appointment.type}}</span><br>
                  <span class="AppointmentSummary-time">{{appointment.time}}</span>
                  <span class="AppointmentSummary-address">{{appointment.address}}</span>
                  <span class="AppointmentSummary-address">{{appointment.location.address.lineOne}}</span>
                </div>
              {{/link-to}}
            </li>
            <br>
          {{/each}}
        </ul>
      </div>
    </div>
    <br>
    <br>
    <h3>My benefits</h3>
    <br>
    <ul class="BenefitSummary">
      {{#each benefit in benefits}}
        <li class="BenefitSummary-item">
          {{#link-to 'benefit' benefit.id classNames="BenefitSummary-link u-linkClean u-cf"}}
            <span class="BenefitSummary-type"><b>{{benefit.type}}</b></span>
            <div class="BenefitSummary-details">
              <span class="BenefitSummary-amount"><b>${{benefit.nextPaymentAmmount}}</b></span><br>
              <span class="BenefitSummary-day">To bank on {{benefit.nextPaymentDate}}</span>
            </div>
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
